{% extends 'base.html' %}

{% block content %} 
<section class="main">
    <div class="container">
        <div class="description" id="description">
            Здесь будут ваши заказы
        </div>
        <div id="cart-wrapper">
            <!-- Cart items will be dynamically added here -->
        </div>
    </div>
</section>

<!-- Добавим кнопку для очистки корзины -->
<button id="clearCartButton">Очистить корзину</button>

{% endblock %}



{% block script %}  
    <script src="../static/cartPublish.js"></script>
{% endblock %}  