{% extends 'base.html' %}

{% block content %} 
    <section class="main">
        <div class="container">
            <div class="cards">
                <div class="card__row">
                    <div class="card" id="card" data-product='{"name": "Dazzle - Dezun Viper", "price": 399, "image": "https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1396.png"}'>
                        <img src="https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1396.png" alt="123" class="card__img">
                        <div class="card__info">
                            <div class="card__info-name">Dazzle - Dezun Viper</div>
                            <div class="card__info-price">399 &#8381;</div>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                    
                    <div class="card" data-product='{"name": "Anti-Mage - Turstarkuri Pilgrim", "price": 5999, "image": "https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1409.png"}'>
                        <img src="https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1409.png" alt="" class="card__img">
                        <div class="card__info">
                            <div class="card__info-name">Anti-Mage - Turstarkuri Pilgrim</div>
                            <div class="card__info-price">5999 &#8381;</div>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                    <div class="card" data-product='{"name": "Marci - Brightfist", "price": 1299, "image": "https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1395.png"}'>
                        <img src="https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1395.png" alt="" class="card__img">
                        <div class="card__info">
                            <div class="card__info-name">Marci - Brightfist</div>
                            <div class="card__info-price">1299 &#8381;</div>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                </div>

                <div class="card__row">
                    <div class="card"  data-product='{"name": "Storm Spirit - Beast of Thunder", "price": 349, "image": "https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1398.png"}'>
                        <img src="https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1398.png" alt="123" class="card__img">
                        <div class="card__info">
                            <div class="card__info-name">Storm Spirit - Beast of Thunder
                                </div>
                            <div class="card__info-price">349 &#8381;</div>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                    
                    <div class="card" data-product='{"name": "Jakiro - Ancestral Heritage", "price": 299, "image": "https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1397.png"}'>
                        <img src="https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1397.png" alt="" class="card__img">
                        <div class="card__info">
                            <div class="card__info-name">Jakiro - Ancestral Heritage</div>
                            <div class="card__info-price">299 &#8381;</div>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                    <div class="card" data-product='{"name": "Snapfire - Snailfire", "price": 1199, "image": "https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1394.png}'>
                        <img src="https://collectorsshop.ru/img/catalog/items/main_images/2023/08/1394.png" alt="" class="card__img">
                        <div class="card__info">
                            <div class="card__info-name">Snapfire - Snailfire</div>
                            <div class="card__info-price">1199 &#8381;</div>
                            <button class="buy-button">Купить</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div id="cart-count"></div>
{% endblock %}

{% block script %}  
    <script src="../static/cardCreate.js"></script>
{% endblock %}
