{% extends 'base.html' %}

{% block content %} 
<section class="main" style="height: 100vh;">
    <div class="container">
        <div class="window">
            <p>Логин</p>
            <form id="loginForm" action="" method="post" onsubmit="return validateLoginForm()">
                <input type="text" placeholder="Введите логин" name="login" id="loginInput">
                <input type="password" placeholder="Введите пароль" name="password" id="passwordInput">
                <input type="submit" value="Войти">
            </form>
        </div>
    </div>
</section>
    {% endblock %}

    {% block script %}  
    <script src="../static/validation.js"></script>
    {% endblock %}
    