{% extends 'base.html' %}

{% block content %} 
    <section class="main" style="height: 100vh;">
        <div class="container">
            <div class="window">
                <p>Регистрация</p>
                <form method="post">
                    <input name="login" id="login" type="text" placeholder="Введите логин">
                    <input name="password" id="password" type="password" placeholder="Введите пароль">
                    <input name="password2" id="password2" type="password" placeholder="Подтвердите пароль">
                    <input type="submit" value="Зарегистрироваться">
                </form>
            </div>
        </div>
    </section>
    {% endblock %}

    {% block script %}  
    <script src="../static/validation.js"></script>
    {% endblock %}
    